:root[data-theme=dark] {
    --clr-text: #e9f0f7;
    --clr-background: #081016;
    --clr-primary: #0a4075;
    --clr-secondary: #0c1822;
    --clr-accent: #8f65c3
}

h1 { width: 100%; }

* {
    box-sizing: border-box;
    color: var(--clr-text);
    font-family: "Nunito", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 50px;
}

body {
    display: flex;
    flex-direction: column;
    font-size: 1.125rem;
    min-height: 100vh;
    background-color: var(--clr-background);
    margin: 0;
    overflow-x: hidden;
}

main { padding: 0 40px }

footer {
    margin-top: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.2)
}

.add_exercise {
    .typeContainer {
        position: relative;

        &:has(.type:focus-visible) {
            .typeDropDown {
                opacity: 1;
                transition-delay: none;
                transform: translateY(-10px);
            }
            &::before {
                transform: translateY(-50%) rotate(135deg);
                top: 55%;
            }
        }
        
        &::before {
            content: " ";
            position: absolute;
            right: 20px;
            top: 42%;
            width: 10px;
            height: 10px;
            transition: 200ms;
            border-bottom: solid 5px greenyellow;
            border-left: solid 5px greenyellow;
            transform: translateY(-50%) rotate(-45deg);
            pointer-events: none;
        }

        .typeDropDown {
            position: absolute;
            backdrop-filter: blur(10px);
            width: 100%;
            background: #ffffff40;
            border-radius: 10px;
            padding: 15px 0;
            opacity: 0;
            transition: 200ms;
            transform: translateY(10px);
            transition-delay: 100ms;


            li { 
                list-style: none; 
                cursor: pointer; 
                transition: 200ms;
                padding: 5px 20px;
            }
            li:hover {
                background: #00000020;
            }
        }
    }
}

button, input {
    background-color: var(--clr-primary);
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    font-size: 1.125rem;
    width: fit-content;
    transition: .2s ease;
    outline: none !important;
}
button { 
    background-color: #008000;
    cursor: pointer;
}

button:hover { box-shadow: inset 0 0 0 100vw #00000020; }

td:has(> .button), .add_exercise {
    display: flex;
    gap: 10px;
    padding-bottom: 16px;
}

table {
    border: 1px solid rgba(128, 128, 128, .7019607843);
    border-collapse: collapse;
    border-radius: 10px;
    width: 100%;
    margin-bottom: 50px;

    tr {
        --percent: 0%;
        
        th, td {
            text-align: left;
            padding: 16px;
            font-size: 1.125rem;
            text-transform: capitalize;
            border: none
        }
        th {
            font-size: 1.333rem;
            background-color: var(--clr-secondary)
        }

        input { width: 100%; }
        td:has(input)::after {
            content: " ";
            display: block;
            width: 100%;
            height: 8px;
            margin-top: 16px;

            clip-path: polygon(0 0, var(--percent) 0, var(--percent) 100%, 0% 100%);
            background: linear-gradient(90deg, #ff0033, #007000 50%, #00bb00);
            border-radius: 9em;
            transition: 200ms;
        }
    }

    tr:nth-child(odd) { background-color: var(--clr-secondary) }
}

#celebrate {
    position: absolute;
    width: 100%;
}

@media (width < 930px) {
    .add_exercise {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    button, input, select { width: 100%; }
    tr:nth-child(1) {
        display: none;
        border: 0 !important;
    }
    tr {
        padding: 20px 0 !important;
        display: block; 
    }
    td {
        display: flex;
        justify-content: center;
        flex-direction: row;
        overflow: hidden;
    }
    
}

@media (width < 460px) {
    tr td:last-child {
        display: flex;
        flex-direction: column;
    }
}